.cardWrapper {
  position: relative;
  flex-direction: column;
  width: 100%;
  cursor: pointer;
  max-width: 272px;
  color: #fff;
}

.cardImage {
  width: 100%;
}

.cardPrice {
  display: flex;
  justify-content: center;
  align-items: center;
}
