.content_box {
  margin: 120px auto 0;
  display: flex;
  width: calc(100% - 690px);
}

.menu_wrapper {
  width: 320px;
  display: flex;
  flex-direction: column;
}

.menu_list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu_button {
  width: 100%;
  cursor: pointer;
  background-color: inherit;
  transition: all 0.3s ease-out;
  color: #8585ad;
  text-align: left;
  text-decoration: none;
}

.menu_button:hover {
  color: #fff;
}

.active_button {
  color: #fff;
}

.inputs_wrapper {
  max-width: 480px;
  display: flex;
  flex-direction: column;
}
.input {
  width: 100%;
}
.error {
  
}
.buttons_wrapper {
  display: flex;
  justify-content: space-between;
}
