.background {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.wrapper {
  z-index: 4;
  position: relative;
  width: 640px;
  background-color: #1c1c21;
  border: 1px solid rgba(76, 76, 255, 0.2);
  box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.04),
    0px 16px 24px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.04),
    0px 0px 1px rgba(0, 0, 0, 0.04);
  border-radius: 40px;
}

.number {
  text-align: center;
}

.ready {
  color: #00cccc;
}

.ingr_box {
  max-height: 366px;
  overflow: auto;
  overflow-x: hidden;
}

.ingr_wrapper {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.ingr_item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.image_wrapper {
  background: linear-gradient(90deg, #801ab2, #4c4cff);
  border-radius: 100px;
  padding: 2px;
}

.image_wrapper_inside {
  background: #131316;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 100px;
  box-sizing: border-box;
  height: 64px;
  width: 64px;
}

.image {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.price_wrapper {
  display: flex;
}

.firs_ingr_wrapper {
  display: flex;
  align-items: center;
}

.ingr_box::-webkit-scrollbar {
  background-color: #2f2f37;
  width: 8px;
}

.ingr_box::-webkit-scrollbar-thumb {
  background-color: #8585ad;
}

.sum_wrapper {
  display: flex;
  justify-content: space-between;
}
.sum_wrapper_small {
  display: flex;
}
